*{
    margin: 0px;
    padding: 0px;
}
.navbar ul{
    display: flex;
    margin-left: 60px;
}
.navbar ul li{
    list-style: none;
    margin-top: 30px;
    margin-left: 55px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    color: black;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    background-color: transparent;
}
#contact{
    padding-left: 700px;
}
.contactme{
    display: flex;
}
.image img{
    height: 160px;
    padding-left: 100px;
    padding-top: 160px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#name{
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    margin-left: 150px;
    box-sizing: border-box;
    width:500px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    padding-left: 10px;
}
#message{
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    margin-left: 150px;
    width:500px;
    padding: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 18px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}
.form p{
    margin-left: 150px;
    font-size: 18px;
    padding: 0px;
    padding-bottom: 5px;
    font-weight: 500;
}
button{
    border: none;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    margin-left: 800px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}
.footer_content{
    background-color: rgb(29, 29, 29);
    color: white;
}
.footer_content h1{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 120px;
    font-weight: 100;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons a img{
    height: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.footer_content p{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 60px;
}