*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url("bgimage2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .navbar{
    position: fixed;
} */
.navbar ul{
    display: flex;
    margin-left: 60px;
}
.con_form ul li a{
    color: black;
}
.navbar ul li{
    list-style: none;
    margin-top: 50px;
    margin-left: 55px;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    background-color: transparent;
}
.navbar ul li a:hover{
    background-color: rgba(255, 255, 255, 0.055);
}
#contact{
    margin-left: 600px;
}
.content{
    display: flex;
}
.social_icons{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-top: 140px;
}
.social_icons a img{
    height: 35px;
    padding-left: 140px;
    padding-top: 15px;
}
.main_content h1{
    color: white;
    padding-left: 150px;
    padding-top: 160px;
    font-weight: 50;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 25px;
    text-transform: uppercase;
}
.main_content p{
    padding-left: 150px;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 40;
    padding-top: 10px;
}
.work_content{
    background-color: rgb(29, 29, 29);
}
.work_content h1{
    color: white;
    font-weight: 50;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-left: 80px;
    padding-top: 120px;
    text-transform: uppercase;
    letter-spacing: 20px;
}
.work_content p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 80px;
    padding-top: 100px;
    font-weight: 400;
}
.works{
    display: flex;
    background-color: rgb(29, 29, 29);
    color: white;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}
.works h2{
    padding-top: 100px;
}
.works ul{
    padding-top: 10px;
    padding-bottom: 140px;
    padding-left: 40px;
}
.works ul li{
    padding-bottom: 10px;
}
.teach_approach h1{
    padding-left: 80px;
    padding-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.teach_approach ul{
    padding-left: 140px;
    padding-top: 40px;
}
.teach_approach ul li{
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.teach_approach p{
    padding-left: 100px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 150px;
}
.footer_content{
    background-color: rgb(29, 29, 29);
    color: white;
}
.footer_content h1{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 120px;
    font-weight: 100;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons a img{
    height: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.footer_content p{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 60px;
}
